.parent {
    -fx-background-color: #42a5f5;
}

.txt-fields {
    -fx-background-color: transparent;
}

.txt-field-main {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #48546050;
}

.vbox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 3px;
}

.txt-color {
    -fx-text-fill: #999999;
}

.icon-inside {
    -fx-fill: #999;
}

.component {
    -fx-fill: #fff;
}

.font-size-bold {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.font-size {
    -fx-font-size: 14;
}

#water-mark {
    -fx-text-fill: white;
    -fx-font-size: 11;
}

#remember-me {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-fill: white;
}

.water-mark {
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-font-size: 25;
}

.water-mark-box {
    -fx-background-color: #42a5f5;
}

.water-mark-icon {
    -fx-fill: white;
}

#search {
    -fx-fill: #485460;
}

#search-txt-fields {
    -fx-prompt-text-fill: #485460;
    -fx-font-family: quicksand;
}

.consolas {
    -fx-font-family: Consolas;
}

.menu-color {
    -fx-fill: #485460;
}

.bold {
    -fx-font-weight: bold;
}

.bolder {
    -fx-font-weight: bolder;
}

.roboto {
    -fx-font-family: Roboto;
}

@font-face {
    font-family: quicksand;
    src: url('../font/quicksand');
}

.quicksand {
    -fx-font-family: quicksand;
}

.hover-border:hover {
    -fx-border-color: #0fbcf9;
    -fx-border-width: 0px 0px 0px 4px;
    -fx-background-color: #34e7e4e0;
    -fx-cursor: hand;
}

.cursor-hand {
    -fx-cursor: hand;
}

.component-inside {
    -fx-font-weight: bolder;
    -fx-font-family: quicksand;
    -fx-fill: #485460;
    -fx-font-size: 1.3em;
}

.button-inside {
    -fx-background-color: white;
    -fx-background-radius: 0px;
    -fx-text-fill: #485460;
    /*-fx-font-size: 1.1em;*/
    -fx-font-family: quicksand;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.button-text {
    -fx-background-color: #0fbcf9;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: quicksand;
    -fx-font-weight: bold;
}

.button-text:hover {
    -fx-background-color: #2196F3 !important;
    -fx-cursor: hand;
}

.white {
    -fx-background-color: white;
}

.txt-inside {
    -fx-font-weight: bold;
    -fx-font-family: quicksand;
    -fx-fill: #485460;
}

.main-background {
    -fx-background-color: #f2f2f2;
}

.hover-fade:hover {
    -fx-background-color: #e2e2e2 !important;
    -fx-cursor: hand;
}

#cross:hover {
    -fx-fill: red;
    -fx-font-size: 25px;
}

#minimize:hover {
    -fx-font-size: 25px;
}

.menu-button > .arrow-button, .menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.menu-button {
    -fx-max-height: "Infinity";
    -fx-max-width: "Infinity";
    -fx-font-weight: bold;
    -fx-font-family: quicksand;
    -fx-padding: 0;
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #34e7e4e0;
    -fx-cursor: hand;
}

.menu-button > .label {
    -fx-text-alignment: right;
    -fx-text-fill: #485460;
}

.menu-item {
    -fx-cursor: hand;
}

.menu-item:hover {
    -fx-background-color: #e2e2e2 !important;
}

.menu-item > .label {
    -fx-text-fill: #485460;
}

.item-inside {

}

.tree-view {
    -fx-max-height: "Infinity";
    -fx-max-width: "Infinity";
}

/*TitledPane*/

.titled-pane {
    -fx-text-fill: #485460;
    -fx-font-family: quicksand;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 0;
}


.titled-pane:focused {
}

.titled-pane:hover {
    -fx-border-color: #0fbcf9 !important;
    -fx-border-width: 0px 0px 0px 4px;
    -fx-background-color: #34e7e4e0;
    -fx-cursor: hand;
}

.titled-pane:expanded {
    -fx-border-color: gray;
    -fx-border-width: 0px 0px 1px 4px;
    -fx-background-color: #e2e2e2;
    -fx-cursor: hand;
}

.titled-pane > .title {
    -fx-background-color: white;
    -fx-text-fill: #485460;
    -fx-font-family: quicksand;
    -fx-font-weight: bold;
    -fx-padding: 14 0 14 11;
}

.titled-pane:expanded > .title {
    -fx-background-color: #e2e2e2;
}

.titled-pane:focused > .title {
    /*-fx-background-color: #e2e2e2;*/
}

.titled-pane:collapsed > .title {
    /*-fx-background-color: white !important;*/
}

.titled-pane:hover > .title {
    -fx-border-color: #0fbcf9;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-background-color: #34e7e4e0;
    -fx-cursor: hand;
    -fx-max-height: "Infinity";
    -fx-max-width: "Infinity";
}

.titled-pane > *.content {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0;
    -fx-border-width: 0 1 1 -1; /*0 0 1 -1*/
}


.titled-pane > *.content > * {
    -fx-padding: 0px;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.titled-pane:collapsed > .title > .arrow-button .arrow {
    -fx-rotate: -90;
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: white;
}

#icon-menu-top:hover {
    -fx-rotate: 90;
}

.red {
    -fx-text-fill: red;
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-font-family: quicksand;
}

.acc-info {
    -fx-font-weight: bold;
    -fx-font-family: quicksand;
    -fx-fill: #485460;
    -fx-font-size: 1.2em;
}

#back-box {
    -fx-background-color: #f2f2f2;
}

#label_cp {
    -fx-font-weight: bold;
    -fx-font-family: quicksand;
    -fx-fill: #485460;
    -fx-font-size: 1.2em;
    -fx-underline: true;
}

#pass_cp {
    -fx-font-weight: bold;
    -fx-font-family: quicksand;
    -fx-fill: #485460;
    -fx-font-size: 1.2em;
    -fx-text-fill: #485460;
}

#border_need {
    -fx-border-width: 2 0 0 2;
    -fx-border-color: #e2e2e2;
}

#border_under_need {
    /*-fx-border-width: 0 0 2 0;*/
    /*-fx-border-color: #f2f2f2;*/
}

.hover-zoom {
    -fx-font-size: 18;
}