<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sis_db</property>
        <!--<property name="hibernate.connection.username">root</property>-->
        <!--<property name="hibernate.connection.password">critical</property>-->
        <property name="hibernate.show_sql">true</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <!--<property name="cache.provider_class">org.cfg.cache.internal.NoCacheProvider</property>-->

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <!-- entities linking -->
        <mapping class="entities.TblAccount"/>
        <mapping class="entities.TblDepartment"/>
        <mapping class="entities.TblDetaillearningchart"/>
        <mapping class="entities.TblDetailpermission"/>
        <mapping class="entities.TblDetailregisterclass"/>
        <mapping class="entities.TblDetailsubject"/>
        <mapping class="entities.TblDetailsubjectregister"/>
        <mapping class="entities.TblGenre"/>
        <mapping class="entities.TblLearningchart"/>
        <mapping class="entities.TblManager"/>
        <mapping class="entities.TblPermission"/>
        <mapping class="entities.TblProgram"/>
        <mapping class="entities.TblRegisterclass"/>
        <mapping class="entities.TblSchedule"/>
        <mapping class="entities.TblStudent"/>
        <mapping class="entities.TblSubject"/>
        <mapping class="entities.TblSubjectregister"/>
        <mapping class="entities.TblToeic"/>
    </session-factory>
</hibernate-configuration>